@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body {
  font-size: 1em;
}

code, tt, pre {
  font-family: 'Inconsolata', monospace, sans-serif;
}

kbd,
pre,
samp {
    line-height: 1.66em
}

.table-bordered td {
  background: #efefef;
  padding: 10px;
}

code {
  display: inline-block;
  background-color: #343642;
  border-radius: 3px;
  padding: 3px 5px;
  color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: .9em;
  line-height: normal;
  border: 1px #999 solid;
}

/* https://facelessuser.github.io/pymdown-extensions/extensions/superfences/#tabbed-fences */

.superfences-tabs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.superfences-tabs .superfences-content {
  display: none;
  order: 99;
  width: 100%;
}

.superfences-tabs label {
  width: auto;
  padding: 0.25em 0.25em 0.1em;
  margin-right: .25em;
  font-size: 100%;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
}

.superfences-tabs input:first-child + label {
  margin-left: .2em;
}

.superfences-tabs input {
  position: absolute;
  opacity: 0;
}

.superfences-tabs input:nth-child(n+1) {
  color: #333333;
}

.superfences-tabs input:nth-child(n+1) + label:hover {
  background: rgb(142, 142, 214);
  color: white;
  transition: background-color color .5s ease-in-out;
}

.superfences-tabs input:nth-child(n+1):checked + label {
  color: rgb(142, 142, 214);
  font-weight: 700;
  border-bottom: 3px solid rgb(142, 142, 214);
  transition: background-color color .5s ease-in-out;
}

.superfences-tabs input:nth-child(n+1):checked + label:hover {
  color: white;
}

.superfences-tabs input:nth-child(n+1):checked + label + .superfences-content {
    display: block;
}
