@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Work+Sans:200,700');

body {
  font-size: 1em;
  -webkit-font-smoothing: subpixel-antialiased;
}

code, tt, pre {
  font-family: 'Inconsolata', monospace, sans-serif;
}

.content p, ul {
  font-family: Lora, Georgia, serif;
  text-align: justify;
}

.post-header h1 {
  font-size: 2.2em;
}

.header-article-home {
  font-family: Lora, Georgia, serif;
}

h1, h2, h3, h4, h5, h6, p.article-date, .brand-main a, .toc {
  font-family: 'Work Sans', Helvetica, sans-serif;
}

kbd,
pre,
samp {
    line-height: 1.66em
}

.table-bordered td {
  background: #efefef;
  padding: 10px;
}

code {
  display: inline-block;
  background-color: #343642;
  border-radius: 3px;
  padding: 3px 5px;
  color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: .9em;
  line-height: normal;
  border: 1px #999 solid;
}

.content img {
  display: block;
  margin: auto;
}

/* https://facelessuser.github.io/pymdown-extensions/extensions/superfences/#tabbed-fences */

.superfences-tabs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.superfences-tabs .superfences-content {
  display: none;
  order: 99;
  width: 100%;
}

.superfences-tabs label {
  width: auto;
  padding: 0.25em 0.25em 0;
  margin-right: .25em;
  font-size: 100%;
  cursor: pointer;
}

/* https://stackoverflow.com/questions/28623446/hover-effect-expand-bottom-border */
.superfences-tabs label:after {
  display: block;
  content: '';
  margin-botom: 10px;
  border-bottom: solid 3px rgb(142, 142, 214);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.superfences-tabs label:hover:after,
.superfences-tabs input:nth-child(n+1):checked + label:after
{ transform: scaleX(1); }

.superfences-tabs input:first-child + label {
  margin-left: .2em;
}

.superfences-tabs input {
  position: absolute;
  opacity: 0;
}

.superfences-tabs input:nth-child(n+1) {
  color: #333333;
}

.superfences-tabs input:nth-child(n+1) + label:hover {
  color: rgb(142, 142, 214);
}

.superfences-tabs input:nth-child(n+1):checked + label {
  color: rgb(142, 142, 214);
  font-weight: 700;
}

.superfences-tabs input:nth-child(n+1):checked + label + .superfences-content {
    display: block;
}
